@font-face {
  font-family: "iconfont"; /* Project id 3413185 */
  src: url('iconfont.woff2?t=1652941376607') format('woff2'),
       url('iconfont.woff?t=1652941376607') format('woff'),
       url('iconfont.ttf?t=1652941376607') format('truetype');
}

.iconfont3 {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
  content: "\e65e";
}

